body {
  background-color: antiquewhite;
}

.App {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Toolbar {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 90px;
  height: fit-content;
  gap: 10px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
  }
  .lineWidth {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90px;
    background-color: #fff;
    .rangerBar {
      width: 80%;
    }
    p {
      font-weight: bold;
    }
  }
}

.colorPicker {
  background-color: red;
  .colorPickerHover {
    display: none;
  }
  &:hover {
    .colorPickerHover {
      display: block;
      transform: translate(90px, 30px);
    }
  }
}

.tool,
.dragLine {
  background-color: gray;
  svg {
    height: 70%;
    width: 70%;
  }
}
